@import "../../styles/mixins.scss";

.HomePage-Section {
  margin-bottom: 80px;
}

.HomePage-TechnologyList {
  display: flex;
  flex-wrap: wrap;

  @include medium {
    width: 100%;
    justify-content: space-between;
  }
}

.HomePage-InstagramBlock {
  display: flex;
  align-items: center;
}

.HomePage-InstagramLink {
  width: 30px;
  margin-right: 10px;

  img {
    width: inherit;
  }

  p {
    margin-top: 6px;
  }
}
