@import "../styles/variables.scss";

.App {
  background-color: $black;
  width: 100%;
  min-height: 100vh;
}

.App-Main{
  width: 90%;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
