@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.PreTestText {
  max-width: 60%;

  @include large {
    max-width: 100%;
  }
}

.PreTestText-Rules {
  font-size: 14px;
  margin-left: 18px;
}

.PreTestText-RulesText {
  position: relative;
  margin-bottom: 20px;

  &:not(:last-child):after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $grey;
  }
}

.PreTestText-DocsInfo {
  font-size: 14px;
  color: $grey;
}

.PreTestText-Link {
  color: $mint;
}

.PreTest-Amount {
  display: flex;
  margin-bottom: 10px;
}
