@import "../../styles/mixins.scss";

.TechnologyTile {
  position: relative;
  width: 200px;
  height: 200px;

  @include large {
    width: 150px;
    height: 150px;
  }

  @include medium {
    width: 100px;
    height: 100px;
  }

  @include small {
    width: 80px;
    height: 80px;
  }

  &:not(:last-child) {
    margin-right: 100px;

    @include medium {
      margin-right: 0;
    }
  }

  &:hover {
    .TechnologyTile-Image {
      opacity: 0.3;
    }
    .TechnologyTile-Tint {
      opacity: 1;
    }
  }
}

.TechnologyTile-Image {
  width: 100%;
  transition: 0.5s ease-out;
  cursor: pointer;

  &_disabled{
      opacity: 0.3;
      cursor: not-allowed;
  }
}

.TechnologyTile-Tint {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 14px;
  opacity: 0;
}
